nodered/flows.json
[
    {
        "id": "f0020e205b0d4d02",
        "type": "tab",
        "label": "php-backend",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0836e657c45cee4",
        "type": "tab",
        "label": "sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c93b5a27f1f0d8c",
        "type": "subflow",
        "name": "delayed elements",
        "info": "payloadが配列の場合のみ、2秒間隔で要素を出力。",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "fb17d1cbb12ca77b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 100,
                "wires": [
                    {
                        "id": "427bd8d015228387",
                        "port": 0
                    },
                    {
                        "id": "0bd359638a80e03e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "delayed-elements",
            "version": "0.1.0",
            "author": "js4000all@gmail.com",
            "desc": "payloadが配列の場合のみ、2秒間隔で要素を出力。",
            "license": "MIT"
        },
        "color": "#DDAA99"
    },
    {
        "id": "e24847f2f9e351d8",
        "type": "group",
        "z": "b0836e657c45cee4",
        "name": "関数を定義して使い回す：flow contextに保存しておく方法",
        "style": {
            "label": true
        },
        "nodes": [
            "019b7347b3689076",
            "41d09822f1916789",
            "b91128fcf9ee2c2b",
            "c42c1e1ec887fe6c",
            "e6bfd74bb3e69eaa"
        ],
        "x": 34,
        "y": 359,
        "w": 532,
        "h": 142
    },
    {
        "id": "9fc439aff1a811ea",
        "type": "group",
        "z": "b0836e657c45cee4",
        "name": "link callによるサブルーチン",
        "style": {
            "label": true
        },
        "nodes": [
            "b0568bb261bbf464",
            "3742ce3df21d5969",
            "391962ef9f3f92d1"
        ],
        "x": 38,
        "y": 13,
        "w": 784,
        "h": 334
    },
    {
        "id": "672e1650cb510dd9",
        "type": "group",
        "z": "b0836e657c45cee4",
        "name": "サブフローサンプル",
        "style": {
            "label": true
        },
        "nodes": [
            "abe75cd6b803d317",
            "03c7cc1007694929",
            "b53f20d28cf93a9f",
            "c9ecd84f167b1985"
        ],
        "x": 34,
        "y": 519,
        "w": 672,
        "h": 142
    },
    {
        "id": "b0568bb261bbf464",
        "type": "group",
        "z": "b0836e657c45cee4",
        "g": "9fc439aff1a811ea",
        "name": "func length",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "f65164460314ac82",
            "6dbe6d628991d545",
            "e58e2a758922ba40"
        ],
        "x": 64,
        "y": 239,
        "w": 302,
        "h": 82,
        "info": "msg.payloadに受け取った文字列の長さをmsg.payloadとして返す。\n"
    },
    {
        "id": "3742ce3df21d5969",
        "type": "group",
        "z": "b0836e657c45cee4",
        "g": "9fc439aff1a811ea",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9b34839620502d83",
            "296118de600e8210",
            "bf6458ec5f555f70",
            "46c2ca2a51493a72"
        ],
        "x": 64,
        "y": 39,
        "w": 732,
        "h": 82
    },
    {
        "id": "391962ef9f3f92d1",
        "type": "group",
        "z": "b0836e657c45cee4",
        "g": "9fc439aff1a811ea",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e3a6bff644fad890",
            "bc1f2932862bd4bd",
            "db45b42e1f0f65b8",
            "21ff19d41a20ceb1"
        ],
        "x": 64,
        "y": 139,
        "w": 732,
        "h": 82
    },
    {
        "id": "34acfae8448b43ac",
        "type": "group",
        "z": "b0836e657c45cee4",
        "name": "自力キュー",
        "style": {
            "label": true
        },
        "nodes": [
            "6ce15e22118b34e0",
            "e7ec474e6c7b0546",
            "1432fa1fe7c34b5b",
            "8e0211b6922e56fd",
            "3c64367caed32fbd",
            "d07730c58261e945",
            "182b768af015a078",
            "132c0b5e6a93589a",
            "313dbed4f7397e56",
            "cd11cda063995142"
        ],
        "x": 34,
        "y": 679,
        "w": 1172,
        "h": 488
    },
    {
        "id": "132c0b5e6a93589a",
        "type": "group",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "テスト用REST API",
        "style": {
            "label": true
        },
        "nodes": [
            "2f745ae3548ce99d",
            "89af74664eafcbb8",
            "10fc73cf7410db30",
            "ac66534468c23087"
        ],
        "x": 74,
        "y": 1059,
        "w": 732,
        "h": 82
    },
    {
        "id": "313dbed4f7397e56",
        "type": "group",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "キュー部分(msg.resetはキューを初期化、msg.doneはキューの先頭要素を排出)",
        "style": {
            "label": true
        },
        "nodes": [
            "28d9a5423150e4f2",
            "213d69f0941b223e",
            "7738d9f2c2d896c0",
            "f10122392cbe2923",
            "32a444f412de407d",
            "31b26389a929d61d"
        ],
        "x": 114,
        "y": 839,
        "w": 912,
        "h": 82
    },
    {
        "id": "0bd359638a80e03e",
        "type": "junction",
        "z": "9c93b5a27f1f0d8c",
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fc2aa30ba24d6a60",
        "type": "junction",
        "z": "9c93b5a27f1f0d8c",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "0bd359638a80e03e"
            ]
        ]
    },
    {
        "id": "31b26389a929d61d",
        "type": "junction",
        "z": "b0836e657c45cee4",
        "g": "313dbed4f7397e56",
        "x": 360,
        "y": 880,
        "wires": [
            [
                "7738d9f2c2d896c0",
                "182b768af015a078"
            ]
        ]
    },
    {
        "id": "fb17d1cbb12ca77b",
        "type": "switch",
        "z": "9c93b5a27f1f0d8c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "612754f744d7df39"
            ],
            [
                "fc2aa30ba24d6a60"
            ]
        ]
    },
    {
        "id": "612754f744d7df39",
        "type": "split",
        "z": "9c93b5a27f1f0d8c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "427bd8d015228387"
            ]
        ]
    },
    {
        "id": "427bd8d015228387",
        "type": "delay",
        "z": "9c93b5a27f1f0d8c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fbe42d48d5ef483c",
        "type": "http in",
        "z": "f0020e205b0d4d02",
        "name": "",
        "url": "/users/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "1a83e88eede0b665"
            ]
        ]
    },
    {
        "id": "63006f01d2cea77f",
        "type": "http response",
        "z": "f0020e205b0d4d02",
        "name": "http out",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "5ecc383de041ac9c",
        "type": "inject",
        "z": "f0020e205b0d4d02",
        "name": "Initialize users table once",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "02409b95bf14a835"
            ]
        ]
    },
    {
        "id": "b673cdc6486e25e2",
        "type": "alafile in",
        "z": "f0020e205b0d4d02",
        "name": "load users",
        "filename": "/data/db/users",
        "format": "json",
        "columns": "*",
        "headers": true,
        "x": 230,
        "y": 960,
        "wires": [
            [
                "0b17f4d4a55aad81"
            ]
        ]
    },
    {
        "id": "808645ce3216d769",
        "type": "alafile out",
        "z": "f0020e205b0d4d02",
        "name": "save users",
        "filename": "/data/db/users",
        "format": "json",
        "columns": "*",
        "headers": true,
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "e6f213ee7e16ccf9",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "insert user",
        "query": "INSERT INTO users VALUES ?;\n",
        "x": 510,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "15dc322bac7b10d3",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "insert user",
        "query": "INSERT INTO users VALUES ?;\n",
        "x": 610,
        "y": 480,
        "wires": [
            [
                "dbea0c798f2b0956",
                "eea38a64978c09d0"
            ]
        ]
    },
    {
        "id": "6e01fcc108b4a04c",
        "type": "inject",
        "z": "f0020e205b0d4d02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "864e281a4164e85c"
            ]
        ]
    },
    {
        "id": "3a6ffa808977b42e",
        "type": "debug",
        "z": "f0020e205b0d4d02",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "864e281a4164e85c",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "select users",
        "query": "SELECT * FROM users",
        "x": 330,
        "y": 740,
        "wires": [
            [
                "3a6ffa808977b42e"
            ]
        ]
    },
    {
        "id": "2392a3572cdbbde9",
        "type": "inject",
        "z": "f0020e205b0d4d02",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "c73d3a9bed98a7e7"
            ]
        ]
    },
    {
        "id": "c73d3a9bed98a7e7",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "truncate users",
        "query": "truncate table users",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "3a6ffa808977b42e"
            ]
        ]
    },
    {
        "id": "02409b95bf14a835",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "create users table",
        "query": "CREATE TABLE IF NOT EXISTS users (id integer, name string, age integer);\n",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "e1da3ddd375d9a5e"
            ]
        ]
    },
    {
        "id": "beac62771396e295",
        "type": "function",
        "z": "f0020e205b0d4d02",
        "name": "make new user",
        "func": "const users = msg.payload;\nconst body = msg.req.body;\nconst maxId = users.length==0 ? 0 : Math.max(...users.map(user => user.id));\nconst user = {\n    id: maxId + 1,\n    name: body.name,\n    age: Number(body.age)\n}\nmsg.inserted_user = user;\nmsg.payload = user;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "15dc322bac7b10d3"
            ]
        ]
    },
    {
        "id": "86f4c0403449a746",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "select users",
        "query": "SELECT * FROM users",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "beac62771396e295"
            ]
        ]
    },
    {
        "id": "86870e41ccbdc6f9",
        "type": "http in",
        "z": "f0020e205b0d4d02",
        "name": "",
        "url": "users",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "86f4c0403449a746"
            ]
        ]
    },
    {
        "id": "dbea0c798f2b0956",
        "type": "change",
        "z": "f0020e205b0d4d02",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "inserted_user",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 440,
        "wires": [
            [
                "63006f01d2cea77f"
            ]
        ]
    },
    {
        "id": "eea38a64978c09d0",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "select users",
        "query": "SELECT * FROM users",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "808645ce3216d769"
            ]
        ]
    },
    {
        "id": "0b17f4d4a55aad81",
        "type": "split",
        "z": "f0020e205b0d4d02",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "e6f213ee7e16ccf9"
            ]
        ]
    },
    {
        "id": "e1da3ddd375d9a5e",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "truncate users",
        "query": "truncate table users",
        "x": 380,
        "y": 900,
        "wires": [
            [
                "b673cdc6486e25e2"
            ]
        ]
    },
    {
        "id": "37982cd980132310",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "select users",
        "query": "SELECT * FROM users",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "7451690366f7faab"
            ]
        ]
    },
    {
        "id": "7451690366f7faab",
        "type": "change",
        "z": "f0020e205b0d4d02",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "63006f01d2cea77f"
            ]
        ]
    },
    {
        "id": "901508bf3893668e",
        "type": "http in",
        "z": "f0020e205b0d4d02",
        "name": "",
        "url": "/users/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "37982cd980132310"
            ]
        ]
    },
    {
        "id": "0d1a89fd9063b649",
        "type": "alasql",
        "z": "f0020e205b0d4d02",
        "name": "select users",
        "query": "SELECT * FROM users \nWHERE id = ?;\n",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "39fd09aa89ef018e"
            ]
        ]
    },
    {
        "id": "cd52890164626986",
        "type": "change",
        "z": "f0020e205b0d4d02",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "63006f01d2cea77f"
            ]
        ]
    },
    {
        "id": "1a83e88eede0b665",
        "type": "change",
        "z": "f0020e205b0d4d02",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(req.params.id)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "0d1a89fd9063b649"
            ]
        ]
    },
    {
        "id": "39fd09aa89ef018e",
        "type": "switch",
        "z": "f0020e205b0d4d02",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "cd52890164626986"
            ],
            [
                "3291ed591c8da581"
            ]
        ]
    },
    {
        "id": "3291ed591c8da581",
        "type": "change",
        "z": "f0020e205b0d4d02",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "404",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "contentType",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"error\":\"Not found user\",\"status\":404}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "63006f01d2cea77f"
            ]
        ]
    },
    {
        "id": "46c2ca2a51493a72",
        "type": "inject",
        "z": "b0836e657c45cee4",
        "g": "3742ce3df21d5969",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "bf6458ec5f555f70"
            ]
        ]
    },
    {
        "id": "bf6458ec5f555f70",
        "type": "change",
        "z": "b0836e657c45cee4",
        "g": "3742ce3df21d5969",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Taro",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "296118de600e8210"
            ]
        ]
    },
    {
        "id": "296118de600e8210",
        "type": "link call",
        "z": "b0836e657c45cee4",
        "g": "3742ce3df21d5969",
        "name": "",
        "links": [
            "f65164460314ac82"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "9b34839620502d83"
            ]
        ]
    },
    {
        "id": "9b34839620502d83",
        "type": "debug",
        "z": "b0836e657c45cee4",
        "g": "3742ce3df21d5969",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "f65164460314ac82",
        "type": "link in",
        "z": "b0836e657c45cee4",
        "g": "b0568bb261bbf464",
        "name": "func length",
        "links": [],
        "x": 105,
        "y": 280,
        "wires": [
            [
                "6dbe6d628991d545"
            ]
        ]
    },
    {
        "id": "6dbe6d628991d545",
        "type": "function",
        "z": "b0836e657c45cee4",
        "g": "b0568bb261bbf464",
        "name": "function 1",
        "func": "msg.payload = msg.payload.length;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 280,
        "wires": [
            [
                "e58e2a758922ba40"
            ]
        ]
    },
    {
        "id": "e58e2a758922ba40",
        "type": "link out",
        "z": "b0836e657c45cee4",
        "g": "b0568bb261bbf464",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 325,
        "y": 280,
        "wires": []
    },
    {
        "id": "e3a6bff644fad890",
        "type": "debug",
        "z": "b0836e657c45cee4",
        "g": "391962ef9f3f92d1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "bc1f2932862bd4bd",
        "type": "link call",
        "z": "b0836e657c45cee4",
        "g": "391962ef9f3f92d1",
        "name": "",
        "links": [
            "f65164460314ac82"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "e3a6bff644fad890"
            ]
        ]
    },
    {
        "id": "db45b42e1f0f65b8",
        "type": "change",
        "z": "b0836e657c45cee4",
        "g": "391962ef9f3f92d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Saburo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "bc1f2932862bd4bd"
            ]
        ]
    },
    {
        "id": "21ff19d41a20ceb1",
        "type": "inject",
        "z": "b0836e657c45cee4",
        "g": "391962ef9f3f92d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "db45b42e1f0f65b8"
            ]
        ]
    },
    {
        "id": "019b7347b3689076",
        "type": "inject",
        "z": "b0836e657c45cee4",
        "g": "e24847f2f9e351d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "41d09822f1916789"
            ]
        ]
    },
    {
        "id": "41d09822f1916789",
        "type": "function",
        "z": "b0836e657c45cee4",
        "g": "e24847f2f9e351d8",
        "name": "Define utils",
        "func": "const utils = {\n    length: (x) => x.length,\n    ohire: (s) => s + \"***\",\n};\nflow.set(\"utils\", utils);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b91128fcf9ee2c2b",
        "type": "inject",
        "z": "b0836e657c45cee4",
        "g": "e24847f2f9e351d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Taro",
        "payloadType": "str",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "c42c1e1ec887fe6c"
            ]
        ]
    },
    {
        "id": "c42c1e1ec887fe6c",
        "type": "function",
        "z": "b0836e657c45cee4",
        "g": "e24847f2f9e351d8",
        "name": "Use utils",
        "func": "const { length, ohire } = flow.get(\"utils\");\n\nconst s = msg.payload;\nmsg.payload = {\n    target: s,\n    len: length(s),\n    ohi: ohire(s),\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "e6bfd74bb3e69eaa"
            ]
        ]
    },
    {
        "id": "e6bfd74bb3e69eaa",
        "type": "debug",
        "z": "b0836e657c45cee4",
        "g": "e24847f2f9e351d8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "abe75cd6b803d317",
        "type": "inject",
        "z": "b0836e657c45cee4",
        "g": "672e1650cb510dd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1, 2, 3]",
        "payloadType": "json",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "03c7cc1007694929"
            ]
        ]
    },
    {
        "id": "03c7cc1007694929",
        "type": "subflow:9c93b5a27f1f0d8c",
        "z": "b0836e657c45cee4",
        "g": "672e1650cb510dd9",
        "name": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "c9ecd84f167b1985"
            ]
        ]
    },
    {
        "id": "c9ecd84f167b1985",
        "type": "debug",
        "z": "b0836e657c45cee4",
        "g": "672e1650cb510dd9",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "b53f20d28cf93a9f",
        "type": "inject",
        "z": "b0836e657c45cee4",
        "g": "672e1650cb510dd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "03c7cc1007694929"
            ]
        ]
    },
    {
        "id": "6ce15e22118b34e0",
        "type": "inject",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "1432fa1fe7c34b5b",
                "28d9a5423150e4f2"
            ]
        ]
    },
    {
        "id": "2f745ae3548ce99d",
        "type": "http in",
        "z": "b0836e657c45cee4",
        "g": "132c0b5e6a93589a",
        "name": "",
        "url": "echo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "89af74664eafcbb8"
            ]
        ]
    },
    {
        "id": "89af74664eafcbb8",
        "type": "function",
        "z": "b0836e657c45cee4",
        "g": "132c0b5e6a93589a",
        "name": "ランダムな遅延時間を設定",
        "func": "const name = msg.req.query.name;\nconst delay = Math.floor(Math.random() * 3 + 1) * 1000;\nmsg.payload = {\n    name: name,\n    delay: delay,\n};\nmsg.delay = delay;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "ac66534468c23087"
            ]
        ]
    },
    {
        "id": "10fc73cf7410db30",
        "type": "http response",
        "z": "b0836e657c45cee4",
        "g": "132c0b5e6a93589a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 1100,
        "wires": []
    },
    {
        "id": "213d69f0941b223e",
        "type": "http request",
        "z": "b0836e657c45cee4",
        "g": "313dbed4f7397e56",
        "name": "fetch api: echo",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "localhost:1880/api/echo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 880,
        "wires": [
            [
                "32a444f412de407d"
            ]
        ]
    },
    {
        "id": "e7ec474e6c7b0546",
        "type": "debug",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 900,
        "wires": []
    },
    {
        "id": "ac66534468c23087",
        "type": "delay",
        "z": "b0836e657c45cee4",
        "g": "132c0b5e6a93589a",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "10fc73cf7410db30"
            ]
        ]
    },
    {
        "id": "1432fa1fe7c34b5b",
        "type": "file in",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "read names",
        "filename": "/data/names.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 270,
        "y": 740,
        "wires": [
            [
                "8e0211b6922e56fd"
            ]
        ]
    },
    {
        "id": "8e0211b6922e56fd",
        "type": "split",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 410,
        "y": 740,
        "wires": [
            [
                "3c64367caed32fbd"
            ]
        ]
    },
    {
        "id": "7738d9f2c2d896c0",
        "type": "function",
        "z": "b0836e657c45cee4",
        "g": "313dbed4f7397e56",
        "name": "queue",
        "func": "if(msg.reset){\n    context.set(\"queue\", []);\n    context.set(\"running\", false);\n    return null;\n}\n\nconst q = context.get(\"queue\");\nif(msg.done){\n    if(q.length > 0){\n        const [name, ...rest] = q;\n        msg.payload = { name: name };\n        context.set(\"queue\", rest);\n        context.set(\"running\", true);\n    }\n    else{\n        context.set(\"running\", false);\n        return null;\n    }\n}\nelse{\n    const name = msg.payload;\n    const running = context.get(\"running\");\n    if(running){\n        context.set(\"queue\", [...q, name]);\n        return null;\n    }\n    else{\n        msg.payload = { name: name };\n        context.set(\"queue\", []);\n        context.set(\"running\", true);\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 880,
        "wires": [
            [
                "213d69f0941b223e"
            ]
        ]
    },
    {
        "id": "f10122392cbe2923",
        "type": "change",
        "z": "b0836e657c45cee4",
        "g": "313dbed4f7397e56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "done",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 880,
        "wires": [
            [
                "e7ec474e6c7b0546",
                "31b26389a929d61d"
            ]
        ]
    },
    {
        "id": "3c64367caed32fbd",
        "type": "switch",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 740,
        "wires": [
            [
                "d07730c58261e945"
            ],
            [
                "31b26389a929d61d"
            ]
        ]
    },
    {
        "id": "32a444f412de407d",
        "type": "json",
        "z": "b0836e657c45cee4",
        "g": "313dbed4f7397e56",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 880,
        "wires": [
            [
                "f10122392cbe2923"
            ]
        ]
    },
    {
        "id": "d07730c58261e945",
        "type": "debug",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "28d9a5423150e4f2",
        "type": "change",
        "z": "b0836e657c45cee4",
        "g": "313dbed4f7397e56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 880,
        "wires": [
            [
                "31b26389a929d61d"
            ]
        ]
    },
    {
        "id": "182b768af015a078",
        "type": "debug",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1000,
        "wires": []
    },
    {
        "id": "cd11cda063995142",
        "type": "comment",
        "z": "b0836e657c45cee4",
        "g": "34acfae8448b43ac",
        "name": "現在の実装では、初期化した時に既に処理中のメッセージまではキャンセルできない",
        "info": "",
        "x": 360,
        "y": 960,
        "wires": []
    }
]